{# sns-status/templates/status-block.html.twig #}
<h3><a href='/sns '>Spallation Neutron Source</a></h3>
<div class='ufi-description'><p>SNS is the most powerful pulsed neutron source in the world for materials research.</p></div>
<ul class='ufi-list'>
<li class='ufi-os'>Operating Status: <strong>{{ summary }} at {{ status }}</strong></li>
<li class='ufi-img'><img src='{{ path }}'></li>
</ul>
